
# Banco de Dados de Desenvolvimento (DEV)
DATABASE_URL="postgresql://postgres.nrjbkcniuyvdailmqcta:ke9NjX8Rj8dKw@aws-0-sa-east-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.nrjbkcniuyvdailmqcta:ke9NjX8Rj8dKw@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# API do Supabase em Desenvolvimento (DEV)
NEXT_PUBLIC_SUPABASE_URL="https://nrjbkcniuyvdailmqcta.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_ZNeRbVKPx57875nSegI-PQ_vvJvmVnj"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_AHoTAb132tYvJYAKcajN8A_L1k6rKPr"